body{
    background-color: black;
}
h1{
    color: whitesmoke; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
} 
.button{

    color: black; 
    width: 140px; 
    height: 30px; 
    border-radius: 8px; 
    background-color: goldenrod;   
}
p{
    color: white; 
    font-size: medium; 
    color: goldenrod;
}