body{
    background: linear-gradient(skyblue, whitesmoke)
}
h1{
    color: black; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
} 
input[type="submit"]{

    color: black; 
    width: 140px; 
    height: 30px; 
    border-radius: 8px; 
    background-color: goldenrod;   
}
p{
    font-size: medium; 
    color: black;
}